.caixa rect {
    width: 200px;
    height: 50px;
    stroke: black;
    fill: white;
}

.caixa {
    transform: rotate(45deg);
}

.pissarra {
    width: 1000px;
    height: 500px;
    border: solid 1px;
}